.cheap{
    background: #2d2d2d;
}

.cheap .section-header{
    padding-block: 3rem;
    color: #fff;
}

.cheap .section-header h1{
    font-size: var(--big-font-size);
}

.cheap .section-header p{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.cheap .section-header p span{
    color: var(--primary-color);
}

/* Media Queires */
@media (max-width: 1000px){
    .cheap .section-header{
        max-width: var(--container-width);
        margin-inline: auto;
    }
}